<div class="block">
  <%= link_to domains_path do %>
    <span class="icon-text">
      <span class="icon">
        <i class="fa-solid fa-lg fa-arrow-left"></i>
      </span>
      <span>Back to domains</span>
    </span>
  <% end %>
</div>
