# generics
**/tmp
**/log
**/spec
**/node_modules

# development
TAGS
db/*.sqlite3
/scripts
.env*
.pre-commit-config.yaml

# assets
public/assets

# secrets
config/credentials.yml.enc
config/master.key
