<div class="container is-fluid mb-6">
  <div class="columns is-centered is-vcentered" style="height:600px;">
    <div class="column m-auto" style="max-width: 500px;">
      <div class="container my-6">
        <h1 class="title has-text-centered">{Faenz}</h1>
      </div>

      <%= render 'users/sessions/form', locals: { autofocus: true } %>
    </div>
  </div>
</div>
