<%
  errors = 
    if locals[:errors]
      locals[:errors]
    else
      resource.errors.full_messages
    end
%>

<% if errors.any? %>
  <div class="block">
    <ul>
      <% errors.each do |error| %>
        <li><span class="tag is-danger is-light"><%= error %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>