<div id="domains" class="container is-fluid">
  <h2 class="title">Domains</h1>
  <div class="block">
    <%= link_to new_domain_path do %>
      <span class="icon-text">
        <span>New domain</span>
        <span class="icon">
          <i class="fa-solid fa-circle-plus"></i>
        </span>
      </span>
    <% end %>
  </div>
  <div class="columns is-multiline">
    <% @domains.each do |domain| %>
      <div class="column is-6">
        <div class="box">
          <div class="columns">
            <div class="column is-narrow">
              <figure class="image is-48x48">
                <img class="is-rounded" src="<%= domain.icon_url %>">
              </figure>
            </div>
            <div class="column">
              <%= link_to domain.base_url, domain, class: "title is-4" %>
            </div>
          </div>
          <div>
            <%= render(Visits.new(domain: domain, start_date: Time.now - 1.week, options: { show_only_line: true, width: "100px", height: "30px" })) %>
            <p>
              stats here
            </p>
            <p>
              stats here
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
