<div class="container is-fluid mb-6">
  <div class="block">
    <span class="icon-text">
      <span class="icon">
        <i class="fa-solid fa-lg fa-arrow-left"></i>
      </span>
      <span><%= link_to "Back to domains", domains_path %></span>
    </span>
  </div>

  <%= render @domain %>
</div>
