$primary: #B33951;
$link: #B33951;

@import 'bulma/bulma';

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('IBMPlexMono-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('BarlowSemiCondensed-Regular.ttf');
  font-weight: regular;
  font-style: normal;
}

* {
  font-family: 'BarlowSemiCondensed';
}

.main-title {
  font-family: 'IBM Plex Mono';
}
