$primary: #ff5778;
$link: #ff5778;

@import 'bulma/bulma';

@font-face {
  font-family: 'Barlow';
  src: url('Barlow.woff2') format('woff2'),
       url('Barlow.woff') format('woff');
  font-weight: regular;
  font-style: normal;
}

* {
  font-family: 'Barlow';
}
