$primary: #B33951;
$link: #B33951;

@import 'bulma/bulma';

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('BarlowSemiCondensed-Regular.ttf');
  font-weight: regular;
  font-style: normal;
}

* {
  font-family: 'BarlowSemiCondensed';
}
