<div class="container is-fluid has-background-primary">
  <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation" style="display: flex;justify-content: space-between;">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/a-chris/faenz">
        <h1 class="main-title title is-4 has-text-white">
          {Faenz}
        </h1>
      </a>
    </div>
    <div>
      <div class="navbar-end desktop-only">
        <div class="navbar-item">
          <a href="https://acmecorp.dev" class="navbar-item" style="color:white;font-weight:500;background-color: inherit !important;">
            Made with ♥️ by ACMECorp.dev
            <img src="https://acmecorp.dev/favicon.ico"/>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
